WcfParaSizeConsumer/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfParaSize" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfParaSize" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudySize">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudySize" nillable="true" type="tns:StudySize" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudySize" nillable="true" type="tns:ArrayOfStudySize" />
  <xs:complexType name="StudySize">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileSize" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudySize" nillable="true" type="tns:StudySize" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>